.al-send-container {
    height: 100vh;
    background: linear-gradient(90deg, #003366, #001a33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.al-send-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.al-send-btn {
    padding: 12px 20px;
    border-radius: 12px;
    border: 3px solid #003366;
    background-color: #eef7ff;
    color: #003366;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.al-send-btn:hover {
    background-color: #003366;
    color: #eef7ff;
    transition: 0.3s;
}