.al-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.al-table-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.al-top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.al-title-table {
    color: #003366;
    margin-left: 70px;
}

.al-actions {
    display: flex;
    gap: 10px;
}

.al-btn-replace {
    border-radius: 10px;
    padding: 8px 12px;
    border: none;
    font-weight: bold;
    background-color: #003366;
    color: white;
}

.al-btn-replace:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 767px) {
    .al-title-table {
        margin: 0;
    }
    .al-top-table {
        flex-direction: column;
        gap: 10px;
    }
    .al-table-container {
        width: 352px;
        height: 500px;
        margin: 0;
    }
}

.al-center-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
}

.centered-title {
    margin-left: 0 !important;
    margin-bottom: 20px;
}

.al-alert-info {
    background-color: #f0f6ff;
    border: 1px solid #c2d9ff;
    color: #003366;
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 1.1rem;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}  
