.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #003366;
	z-index: 1000;
	display: flex;
}

.navbar ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.8rem 5vw; /* controla altura real */
	margin: 0;
	list-style: none;
}

.navbar ul li {
	display: flex;
	align-items: center;
	padding: 0 1.5rem;
	position: relative;
}

.navbar ul li a {
	display: inline-flex;
	align-items: center;
	color: white;
	font-size: 0.9em;
	text-decoration: none;
	padding: 0.4rem 0.6rem;
	border-bottom: 3px solid transparent;
	box-sizing: border-box;
	position: relative;
}

.navbar ul li :not(.active)::before {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #006edf;
	transform: scaleX(0);
	transform-origin: bottom;
	transition: transform 0.3s ease;
}

.navbar ul li :not(.active):hover::before {
	transform: scaleX(1);
}

.navbar ul li .active {
	font-weight: bold;
	background-color: #eef7ff;
	color: #002651;
	border-radius: 4px;
}

.hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	z-index: 1001;
}

.hamburger .bar {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 4px 0;
}

@media (max-width: 768px) {
	.nav-menu ul {
		display: none;
		flex-direction: column;
		background-color: #003366;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.nav-menu.activado ul {
		display: flex;
		background-color: #eef7ff;
	}

	.hamburger {
		display: flex;
	}

	.nav-menu.activado ul li {
		padding: 0.8rem 0;
	}

	.nav-menu.activado ul li a {
		color: #003366;
		font-weight: bold;
		font-size: 0.9em;
	}
}
